{% extends 'base.html' %}

{% block title %}Biodata Santri{% endblock %}
{% block page_title %}Biodata Lengkap{% endblock %}
{% block subtitle %}Kelas 10 A - Asrama Ibnu Taimiyah{% endblock %}

{% block content %}
  <section class="box">
    <div class="profil">
      <div class="poto" aria-hidden="true">AM</div>
      <div>
        <p>Nama: Azzam Muzaqie</p>
        <p>TTL: Tasikmalaya, 6 Agustus 2009</p>
        <p>
          Saya sekolah di <i>HSI Boarding School Purworejo</i>. Saya ingin
          menjadi seorang <b>Programmer</b>.
        </p>
        <p>
          Di sisi lain saya juga ingin menjadi
          <u>Software Engineer</u>.
        </p>
      </div>
    </div>
  </section>

  <section class="box">
    <h3 class="judul-box">Hobi</h3>
    <ul>
      <li>Daki gunung</li>
      <li>Menulis dan menggambar</li>
      <li>Koding</li>
    </ul>
  </section>

  <section class="box">
    <h3 class="judul-box">Cita-cita</h3>
    <ol>
      <li>Programmer dan antivirus developer</li>
      <li>Kerja di Telkom atau Google</li>
      <li>Pengusaha sukses</li>
    </ol>
  </section>

  <section class="box">
    <h3 class="judul-box">Kontak</h3>
    <p>Whatsapp: 878-3251-7255</p>
    <p>Telegram: @azzam_muzaqie</p>
    <p>Instagram: @azzam_2009</p>
    <p>Email: <i>zaqie2910@gmail.com</i></p>
  </section>
{% endblock %}
