{% extends 'base.html' %}

{% block title %}Galeri Karya Santri{% endblock %}
{% block page_title %}Galeri Karya Santri{% endblock %}
{% block subtitle %}Karya Pertama: Website Profil Pribadi{% endblock %}

{% block content %}
  <section class="box">
    <h3 class="judul-box">Foto Kebersamaan</h3>
    <div class="figure">
      <figure>
        <div class="galeri-placeholder">Futsal</div>
        <figcaption>Foto saat bermain futsal</figcaption>
      </figure>
      <figure>
        <div class="galeri-placeholder">Makan Bersama</div>
        <figcaption>Foto saat makan bersama</figcaption>
      </figure>
      <figure>
        <div class="galeri-placeholder">Sirajul Ummah</div>
        <figcaption>Foto bersama Sirajul Ummah</figcaption>
      </figure>
      <figure>
        <div class="galeri-placeholder">Ngaji</div>
        <figcaption>Dokumentasi saat ngaji</figcaption>
      </figure>
      <figure>
        <div class="galeri-placeholder">Ngaji</div>
        <figcaption>Dokumentasi saat ngaji</figcaption>
      </figure>
      <figure>
        <div class="galeri-placeholder">Ngaji</div>
        <figcaption>Dokumentasi saat ngaji</figcaption>
      </figure>
    </div>
  </section>

  <section class="box">
    <h3 class="judul-box">Video</h3>
    <div class="video-responsive">
      <iframe
        src="https://www.youtube.com/embed/tQdY0mkiQ5E?si=PgGC3DGRp4FtGSQn"
        title="YouTube video player"
        allowfullscreen>
      </iframe>
    </div>
  </section>
{% endblock %}
